[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PeriodicTable"]
	path = PeriodicTable
	url = https://github.com/cran/PeriodicTable
